body {
    margin: 0;
    text-align: center;
    background-color:white;
}
header {
    border: 2px solid darkblue;
    background-color: darkblue ;
    color:orange;
    min-height: 20px;

}

section {
    border: 2px solid darkblue;
    margin: 25px;
    background-color: darkblue;
    color: orange;
}

nav {
    display:flex;
    justify-content: space-around;
    }

footer {
    position: sticky;
    bottom: 0;
    background: orange;
}
footer a {
    color:darkblue;
    text-decoration: none;
    font-size: 25px;
}
ul  {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0;
    list-style-type: none;
}
img {
    padding-top:15px;
    height:200px;
    margin-bottom: 15px;
}
.profile-head {
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}
.profile-name {
    margin-top: 100px;
}
.active {
    background-color: white;
}
.aboutme {
    font-size: 16px;
    margin:20px;
}
.skills {
    font-size: 30px;
}
.skill {
    padding: 20px;
    background-color: orange;
    color: darkblue;
}
.logout {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 22px;
}
.main-bookmarks {
    height:100vh;
}
.submitbutton {
    padding: 15px;
    margin: 15px;
}