.navigation {
    display:flex;
    justify-content: space-around;
    position: fixed;
    background: var(--secondary);
    left: 0;
    right:0;
    bottom: 0;
}

.navigation__link--active img {
    background-color: white;
    height:60px;
}

.navigation__link img{
    height:60px;
}
